@charset 'utf-8';

/* banner section */
.banner01{
  text-align:center;
  background-color:#4f79a9;
}
.banner02{
  text-align:center;
  background-color:#4f79a9;
}
.banner img{
  display:inline-block;
}
.banner .close{
  position:absolute;
  right:0;
  bottom:0;
  width:20px;
  height:20px;
  background-color:#330a94;
  color:white;
  text-align:center;
  line-height:20px;
  cursor:pointer;
}
.banner>div{
  display:none;
  position:relative;
}
.banner>div.active{
  display:block;
}
