@charset 'utf-8';

/* burger_menu_style */
.burger_menu{
  overflow:scroll;
  -ms-overflow-style:none;
  position:fixed;
  left:0;
  top:0;
  z-index:10000;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  display:none;
  justify-content:flex-end;
}
.burger_menu::-webkit-scrollbar{
  display:none;
}
.burger_menu>nav{
  width:320px;
  height:100%;
  background:white;
}
.nav_top{
  position:fixed;
  right:0;
  top:0;
  width:320px;
  background-color:#160f2b;
}
.nav_header, .nav_join{
  display:flex;
  align-items:center;
  padding:10px 20px 30px;
}
.nav_header>p{
  font-size:16px;
  color:white;
  flex:8;
}
.nav_header>p>span{
  font-size:16px;
  color:white;
  display:inline-block;
  text-decoration:underline;
  cursor:pointer;
}
.nav_header>a{
  flex:1;
}
.nav_header img{
  width:100%;
}
.nav_join{
  border-top:1px solid rgba(255,255,255,0.5);
  padding:16px 0;
}
.nav_join>a{
  display:flex;
  justify-content:center;
  align-items:center;
  color:rgba(255,255,255,0.5);
}
.nav_join>a>img{
  width:16px;
  margin-right:5px;
}
.nav_join>a:nth-child(1){
  flex:2;
}
.nav_join>a:nth-child(2){
  flex:3;
}
.nav_content{
  padding:130px 0;
}
.nav_quick_icon{
  display:flex;
  flex-flow:row wrap;
}
.nav_quick_icon>li{
  width:33.3333333333333%;
  text-align:center;
  padding:20px 0;
}
.nav_quick_icon>li img{
  border:1px solid rgba(0,0,0,0.2);
  border-radius:50%;
  width:60px;
  padding:10px;
  margin-bottom:6px;
}
.nav_list{
  background-color:white;
}
.nav_list>li{
  border-top:1px solid rgba(0,0,0,0.2);
  padding:16px;
}
.nav_list>li:last-child>a{
  color:#14b9cb;
  display:flex;
  align-items:center;
}
.nav_list>li:last-child>a::before{
  content:'';
  display:inline-block;
  width:20px;
  height:20px;
  background-image:url('images/menu_notice.png');
  background-size:cover;
}
.nav_list a{
  display:inline-block;
  color:rgba(0,0,0,0.8);
  width:100%;
  height:100%;
}
#member_btn{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#member_btn::after{
  content:'';
  display:block;
  width:20px;
  height:20px;
  background-image:url('images/menu_off_btn.png');
  background-size:cover;
}
.member_main{
  position:relative;
}
.member_sub{
  display:none;
  position:absolute;
  left:0;
  top:100%;
  width:100%;
  padding:10px;
  background-color:#f5f5f5;
}
.member_sub>li{
  padding:10px 0;
}
.nav_bottom{
  position:fixed;
  right:0;
  bottom:0;
  width:320px;
}
.nav_bottom img{
  width:100%;
}
.active_padding{
  padding-top:140px !important;
}